// put the global style here

.list-event {
	.header {
		margin-bottom: 20px;
	}
	.body {
		.img {
			float: left;
			margin-right: 20px;
		}

		.search {
			margin-bottom: 20px;
		}

		.head {
			width: 100%;
		}

		.panel-title{
			a:hover, a:focus, a:visited {
				text-decoration: none !important;
			}	
		}
	}
}